
<div class="card" style="width: 18rem;margin-left: 20px;margin-top: 20px;background: transparent;
box-shadow: 6px 6px 14px 0 rgba(0, 0, 0, 0.2),
-8px -8px 18px 0 rgba(255, 255, 255, 0.55);
border-radius: 40px;
border: none;">
    <img class="card-img-top" src="..\assets\images\sneha.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Sneha Shrikumar</h5>
      <h6 class="card-subtitle mb-2 text-muted">Network Specialist</h6>
      <p class="card-text">Some Extra Info</p>
      <a href="#" class="card-link">VOIP number</a>
      <a href="mailto:shrikumarsneha@gmail.com" class="card-link">Email</a>
    </div>
  </div>
  